.container {
  background-color: burlywood;
}

.intro {
  margin: 20px;
  border: solid purple;
  background-color: purple;
  padding: 6px;
  text-align: center;
  font-weight: 700;
  color: yellow;
}

.footer {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: purple;
    margin-bottom:0;
  }
